<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Upload | RetinaScope</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    
    <!-- Preload CSS -->
    <link rel="stylesheet" as="style" href="{{ url_for('static', filename='css/preload.min.css') }}"/>
    <link rel="stylesheet" as="style" href="{{ url_for('static', filename='css/icomoon.css') }}"/>
    <link rel="stylesheet" as="style" href="{{ url_for('static', filename='css/libs.min.css') }}"/>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>

    <!-- Icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icofont/icofont.min.css') }}"/>

    <!-- Slick Slider CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick-theme.css') }}"/>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header class="header" data-page="index">
      <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="logo header_logo">
          <a class="d-inline-flex align-items-center" href="{{ url_for('index') }}">
            <span class="logo_picture">
              <img src="{{ url_for('static', filename='svg/logo-retina.svg') }}" alt="RetinaScope"/>
            </span>
          </a>
        </div>
      </div>
    </header>
  
    <header class="page">
      <div class="page_breadcrumbs">
        <div class="container">
          <ul class="page_breadcrumbs-list d-flex flex-wrap align-items-center">
            <li class="list-item">
              <a href="{{ url_for('index') }}" class="link">Home</a>
            </li>
            <li class="list-item">Upload</li>
          </ul>
        </div>
      </div>
      <div class="page_main">
        <div class="underlay"></div>
      </div>
    </header>
  
    <!-- Upload section start -->
    <main class="container">
      <div class="container-image mx-auto p-4">
        <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data" id="form">
          <input type="hidden" name="_token" value="{{ csrf_token() }}" />
          <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-bold mb-4">Image Upload</h2>
            <p class="text-gray-600 mb-4">
              Drag and drop your images here or click to browse. Maximum 1 image, each up to 10 MB.
            </p>
    
            <!-- Drag-and-drop area -->
            <div id="dropzone" class="border-2 border-dashed border-gray-300 rounded-lg p-6 mb-4 flex flex-col items-center justify-center">
              <i class="fas fa-cloud-upload-alt text-4xl text-gray-400 mb-2"></i>
              <p class="text-gray-600">
                Drag your images here or click to upload
              </p>
              <input type="file" id="fileInput" name="images[]" accept=".jpg,.jpeg,.png,.svg" class="hidden"/>
            </div>
    
            <!-- Reference images -->
            <h3 class="text-lg font-semibold mb-2">Or click from reference images:</h3>
            <div id="reference-images" class="flex flex-wrap gap-2 mb-4">
              <div class="reference-image relative w-20 h-20 cursor-pointer" data-image-url="{{ url_for('static', filename='img/image_noDR.png') }}">
                <img src="{{ url_for('static', filename='img/image_noDR.png') }}" alt="Ref1" class="object-cover rounded-lg w-full h-full"/>
              </div>
              <div class="reference-image relative w-20 h-20 cursor-pointer" data-image-url="{{ url_for('static', filename='img/image_mild.png') }}">
                <img src="{{ url_for('static', filename='img/image_mild.png') }}" alt="Ref2" class="object-cover rounded-lg w-full h-full"/>
              </div>
              <div class="reference-image relative w-20 h-20 cursor-pointer" data-image-url="{{ url_for('static', filename='img/image_moderate.png') }}">
                <img src="{{ url_for('static', filename='img/image_moderate.png') }}" alt="Ref3" class="object-cover rounded-lg w-full h-full"/>
              </div>
              <div class="reference-image relative w-20 h-20 cursor-pointer" data-image-url="{{ url_for('static', filename='img/image_severe.png') }}">
                <img src="{{ url_for('static', filename='img/image_severe.png') }}" alt="Ref5" class="object-cover rounded-lg w-full h-full"/>
              </div>
              <div class="reference-image relative w-20 h-20 cursor-pointer" data-image-url="{{ url_for('static', filename='img/image_proliferate.png') }}">
                <img src="{{ url_for('static', filename='img/image_proliferate.png') }}" alt="Ref4" class="object-cover rounded-lg w-full h-full"/>
              </div>
            </div>
    
            <!-- Preview area -->
            <p id="preview-text" class="text-gray-400 mb-4" style="display: none">
              Preview your selected images:
            </p>
            <div id="image-preview" class="flex flex-wrap gap-2 mb-4"></div>
    
            <div class="flex justify-end mt-4 p-2">
              <!-- Cancel Button -->
              <button type="button" id="cancelButton" class="bg-gray-200 text-gray-600 px-4 py-2 rounded-lg mr-2 hover:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:outline-none" aria-label="Cancel and reset the form">Cancel</button>
              <!-- Upload Button -->
              <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:ring-2 focus:ring-blue-400 focus:outline-none" aria-label="Submit and upload the file">
                Upload
              </button>
            </div>
          </div>
        </form>
    
          <!-- Prediction Results Card -->
          <div id="result" class="w-full lg:w-1/2 bg-white shadow-md rounded-lg p-6  lg:mt-0 hidden relative">
            <h3 class="text-xl font-semibold p-4">Prediction Results:</h3>
            <!-- Close Button -->
            <button id="close-btn" class="text-red-500 font-bold absolute top-4 right-4 text-xl">×</button>
            <div class="flex flex-col items-center">
              <img id="result-image" src="" alt="Result Image" class="object-cover rounded-lg mb-4" style="max-width: 250px; max-height: 250px" />
              <p id="class-name" class="text-lg font-semibold">Class: <span>Loading...</span></p>
              <div class="mb-4">
                <h4 class="text-lg font-semibold">Prediction Accuracy:</h4>
                <div class="relative pt-1">
                  <div class="flex mb-2 items-center justify-between">
                    <span id="accuracy-percentage" class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">0%</span>
                  </div>
                  <div class="w-full bg-teal-200 rounded-full">
                    <div id="accuracy-bar" class="bg-teal-500 text-xs leading-none py-1 text-center text-white rounded-full" style="width: 0%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <style>
      /* Flex layout for side-by-side display */
      .container-image {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
      }
    
      /* Style for the form and results card */
      form, #result {
        flex: 1 1 45%;
      }
    
      /* Make the cards stack on smaller screens */
      @media (max-width: 768px) {
        .container {
          flex-direction: column;
        }
    
        form, #result {
          flex: 1 1 100%;
        }
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropzone = document.getElementById("dropzone");
        const fileInput = document.getElementById("fileInput");
        const previewText = document.getElementById("preview-text");
        const imagePreview = document.getElementById("image-preview");
        const cancelButton = document.getElementById("cancelButton");
        const resultSection = document.getElementById("result");
        const resultImage = document.getElementById("result-image");
        const className = document.getElementById("class-name").querySelector("span");
        const accuracyPercentage = document.getElementById("accuracy-percentage");
        const accuracyBar = document.getElementById("accuracy-bar");
        const referenceImages = document.querySelectorAll('.reference-image');
        // Menangani klik pada tombol Close untuk menyembunyikan card hasil prediksi
        const closeButton = document.getElementById("close-btn");

        closeButton.addEventListener("click", function () {
          resultSection.style.display = "none"; // Menyembunyikan card hasil prediksi
        });

        // Menangani perubahan pada input file (pemilihan file)
        fileInput.addEventListener("change", handleFileSelect);
    
        // Menangani event dragover untuk drag-and-drop (seret dan lepas)
        dropzone.addEventListener("dragover", (e) => {
          e.preventDefault();
          dropzone.classList.add("bg-gray-100");
        });
        dropzone.addEventListener("dragleave", () => {
          dropzone.classList.remove("bg-gray-100");
        });
        dropzone.addEventListener("drop", (e) => {
          e.preventDefault();
          dropzone.classList.remove("bg-gray-100");
          const files = e.dataTransfer.files;
          handleFileSelect({ target: { files } });
        });
    
        // Membolehkan klik pada dropzone untuk membuka dialog file input
        dropzone.addEventListener("click", function () {
          fileInput.click(); // Memicu event klik pada file input
        });
    
        // Fungsi untuk menangani pemilihan file dan menampilkan preview (maksimal 1 gambar)
        function handleFileSelect(e) {
          const files = e.target.files || e.dataTransfer.files;
          
          // Menyembunyikan teks preview jika ada file yang dipilih
          previewText.style.display = "block";
          
          // Menghapus preview yang ada sebelumnya (jika ada)
          imagePreview.innerHTML = "";
    
          // Mengambil file pertama yang diupload (jika ada)
          const file = files[0]; // hanya ambil file pertama
          if (file && file.type.startsWith("image/")) { // Cek hanya untuk file gambar
            const reader = new FileReader();
            reader.onload = function (e) {
              // Membuat elemen img untuk preview gambar
              const img = document.createElement("img");
              img.src = e.target.result;
              img.alt = file.name;
              img.classList.add(
                "object-cover",
                "rounded-lg",
                "w-full",
                "h-full",
                "mb-2"
              );
    
              // Membuat div untuk mengemas preview gambar
              const previewDiv = document.createElement("div");
              previewDiv.classList.add("relative", "w-20", "h-20");
    
              // Menambahkan gambar ke dalam div preview
              previewDiv.appendChild(img);
    
              // Menambahkan teks nama file di bawah gambar
              const fileNameText = document.createElement("p");
              fileNameText.classList.add("text-sm", "text-center", "mt-2");
              fileNameText.textContent = file.name;
    
              // Menambahkan teks nama file ke dalam div preview
              previewDiv.appendChild(fileNameText);
    
              // Membuat tombol silang (×) untuk menghapus gambar
              const deleteButton = document.createElement("button");
              deleteButton.textContent = "×"; // Simbol silang
              deleteButton.classList.add(
                "absolute",
                "top-0",
                "right-0",
                "bg-red-500",
                "text-white",
                "px-2",
                "py-1",
                "rounded-full",
                "text-xs",
                "font-bold",
                "w-6",
                "h-6",
                "flex",
                "items-center",
                "justify-center"
              );
    
              // Event listener untuk menghapus gambar
              deleteButton.addEventListener("click", function () {
                previewDiv.remove(); // Menghapus preview gambar
                if (imagePreview.children.length === 0) {
                  previewText.style.display = "none"; // Menyembunyikan teks preview jika tidak ada gambar
                }
              });
    
              // Menambahkan tombol silang ke dalam div preview
              previewDiv.appendChild(deleteButton);
    
              // Menambahkan div preview ke dalam container
              imagePreview.appendChild(previewDiv);
            };
    
            // Membaca file gambar
            reader.readAsDataURL(file);
          }
        }
    
        // Menangani klik pada tombol cancel untuk reset form dan preview
        cancelButton.addEventListener("click", function () {
          fileInput.value = ""; // Mengosongkan input file
          imagePreview.innerHTML = ""; // Menghapus preview gambar
          previewText.style.display = "none"; // Menyembunyikan teks preview
          resultSection.style.display = "none"; // Menyembunyikan card hasil prediksi
        });
    
        // Fungsi untuk menangani hasil prediksi
        function handlePredictionResult(data, displayImageSrc) {
          if (data.error) {
            alert(data.error);
            resultSection.style.display = "none";
            return;
          }
    
          const prediction = data.predictions[0];
          
          // Update UI dengan hasil prediksi
          resultImage.src = displayImageSrc || prediction.image_path;
          className.textContent = prediction.class_name;
          
          const accuracyPercent = (prediction.prediction_probability * 100).toFixed(1);
          accuracyPercentage.textContent = `${accuracyPercent}%`;
          accuracyBar.style.width = `${accuracyPercent}%`;
          
          resultSection.style.display = "block";
        }
    
        // Menambahkan event listener untuk gambar referensi
        referenceImages.forEach(refImg => {
          refImg.addEventListener('click', function() {
            // Ambil URL gambar dari atribut data
            const imageUrl = this.getAttribute('data-image-url');
            const imgElement = this.querySelector('img');
            
            // Tampilkan status loading
            className.textContent = "Processing...";
            resultSection.style.display = "block";
            
            // Buat FormData dan tambahkan CSRF token
            const formData = new FormData();
            const csrfToken = document.querySelector('input[name="_token"]').value;
            formData.append('_token', csrfToken);
            
            // Ambil gambar dan konversi menjadi objek File
            fetch(imageUrl)
              .then(response => response.blob())
              .then(blob => {
                // Buat objek File dari blob
                const imageFile = new File([blob], "reference_image.png", { type: "image/png" });
                formData.append('images[]', imageFile);
                
                // Kirim ke server untuk prediksi
                return fetch('/upload', {
                  method: 'POST',
                  body: formData,
                  headers: {
                    'X-CSRF-TOKEN': csrfToken
                  }
                });
              })
              .then(response => response.json())
              .then(data => handlePredictionResult(data, imageUrl))
              .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while processing the image. Please try again.');
                resultSection.style.display = "none";
              });
          });
        });
    
        // Handler untuk pengiriman form
        form.addEventListener("submit", function (e) {
          e.preventDefault();
          
          // Cek apakah ada file yang dipilih
          const hasFileInput = fileInput.files && fileInput.files.length > 0;
          const hasPreviewImages = imagePreview.children.length > 0;
          
          // Jika tidak ada gambar yang dipilih, tampilkan alert
          if (!hasFileInput && !hasPreviewImages) {
            alert("Please select an image first");
            return;
          }
    
          const formData = new FormData();
          const csrfToken = document.querySelector('input[name="_token"]').value;
          formData.append('_token', csrfToken);
    
          if (hasFileInput) {
            // Jika ada file yang dipilih dari file input, hanya ambil file pertama
            formData.append('images[]', fileInput.files[0]);
          } else if (hasPreviewImages) {
            // Jika ada gambar di preview, ambil gambar tersebut
            const previewImg = imagePreview.querySelector('img');
            if (previewImg) {
              // Ambil gambar preview dan kirimkan ke server
              fetch(previewImg.src)
                .then(response => response.blob())
                .then(blob => {
                  formData.append('images[]', new File([blob], "preview_image.png", { type: "image/png" }));
                  submitForm(formData); 
                })
                .catch(error => alert("Failed to process the preview image: " + error.message));
              return; // Hentikan proses jika sudah ada gambar di preview
            }
          }
    
          // Kirim form tanpa gambar jika tidak ada gambar yang dipilih
          submitForm(formData);
        });
    
        // Fungsi untuk mengirimkan data form ke server
        function submitForm(formData) {
          className.textContent = "Processing...";
          resultSection.style.display = "block";
          
          return fetch('/upload', {
            method: 'POST',
            body: formData,
            headers: {
              'X-CSRF-TOKEN': document.querySelector('input[name="_token"]').value
            }
          })
          .then(response => response.json())
          .then(data => handlePredictionResult(data))
          .catch(error => {
            console.error('Error:', error);
            alert('An error occurred during the process.');
            resultSection.style.display = "none";
          });
        }
      });
    </script>
    <!-- upload section end -->
    <footer class="footer">
      <div class="container">
          <div class="footer_wrapper d-sm-flex flex-wrap flex-lg-nowrap justify-content-lg-between">
              <!-- Footer Block: Logo and Contact Info -->
              <div class="footer_block col-sm-6 col-lg-auto" data-order="1">
                  <div class="logo logo--footer">
                      <a class="d-inline-flex align-items-center" href="{{ url_for('index') }}">
                          <span class="logo_picture">
                              <img src="{{ url_for('static', filename='svg/logo-retina.svg') }}" alt="retinascope" />
                          </span>
                      </a>
                  </div>
                  <p class="footer_block-text">
                      Discover an advanced AI solution for detecting Diabetic Retinopathy (DR) from retinal fundus images. Our system provides accurate predictions, enabling timely treatment and prevention of vision loss.
                  </p>
                  <div class="wrapper d-flex flex-column" style="margin-top: 20px;">
                      <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="mailto:retinascope@mail.com" style="margin-bottom: 10px;">
                          <i class="icon-envelope icon" style="margin-right: 8px;"></i>
                          retinascope@mail.com
                      </a>
                      <a class="link link--contacts text text--sm d-inline-flex align-items-center" href="tel:+123456789">
                          <i class="icon-phone-solid icon" style="margin-right: 8px;"></i>
                          +62-899-8080-222
                      </a>
                  </div>
              </div>
  
              <!-- Footer Block: Information -->
              <div class="footer_block col-sm-6 col-lg-auto" data-order="2">
                  <h5 class="footer_block-header">Information:</h5>
                  <ul class="footer_block-nav">
                      <li class="footer_block-nav_item">
                          <a class="link" href="{{ url_for('documentation') }}">Documentation of The Dataset</a>
                      </li>
                      <li class="footer_block-nav_item">
                          <a class="link" href="{{ url_for('visualization') }}">Visualization</a>
                      </li>
                  </ul>
              </div>
  
              <!-- Footer Block: Technologies Used -->
              <div class="footer_block col-sm-6 col-lg-auto" data-order="4">
                  <h5 class="footer_block-header">Includes Language</h5>
                  <ul class="footer_block-instagram d-grid">
                      <li class="footer_block-instagram_item">
                          <a>
                              <picture>
                                  <img class="lazy" data-src="{{ url_for('static', filename='img/flask.png') }}" src="{{ url_for('static', filename='img/flask.png') }}" alt="media" />
                              </picture>
                          </a>
                      </li>
                      <li class="footer_block-instagram_item">
                          <a>
                              <picture>
                                  <img class="lazy" data-src="{{ url_for('static', filename='img/jupyter.png') }}" src="{{ url_for('static', filename='img/jupyter.png') }}" alt="media" />
                              </picture>
                          </a>
                      </li>
                      <li class="footer_block-instagram_item">
                          <a>
                              <picture>
                                  <img class="lazy" data-src="{{ url_for('static', filename='img/Python.png') }}" src="{{ url_for('static', filename='img/Python.png') }}" alt="media" />
                              </picture>
                          </a>
                      </li>
                      <li class="footer_block-instagram_item">
                          <a>
                              <picture>
                                  <img class="lazy" data-src="{{ url_for('static', filename='img/HTML Logo.png') }}" src="{{ url_for('static', filename='img/HTML Logo.png') }}" alt="media" />
                              </picture>
                          </a>
                      </li>
                      <li class="footer_block-instagram_item">
                          <a>
                              <picture>
                                  <img class="lazy" data-src="{{ url_for('static', filename='img/CSS Logo.png') }}" src="{{ url_for('static', filename='img/CSS Logo.png') }}" alt="media" />
                              </picture>
                          </a>
                      </li>
                      <li class="footer_block-instagram_item">
                          <a>
                              <picture>
                                  <img class="lazy" data-src="{{ url_for('static', filename='img/JavaScript Logo Download Vector.png') }}" src="{{ url_for('static', filename='img/JavaScript Logo Download Vector.png') }}" alt="media" />
                              </picture>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  
      <!-- Footer Secondary Section: Scroll to Top and Copyright -->
      <div class="footer_secondary">
          <div class="container d-flex flex-column flex-sm-row align-items-center justify-content-sm-between">
              <a class="footer_secondary-scroll" id="scrollToTop" href="#">
                  <i class="icon-angle-up icon"></i>
              </a>
              <p class="footer_secondary-copyright">Copyright @ <span id="currentYear"></span> retinascope</p>
          </div>
      </div>
  </footer> 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="js/common.js"></script>
    <script src="js/courses.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflS50iB-/www-widgetapi.js" async=""></script>
    <script src="https://www.youtube.com/player_api"></script>
</body>
</html>    
